* {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		margin: 20px;
	}

	&::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}

	&::-webkit-scrollbar-thumb {
		background: #d5d5d5cc;
		border: 0px;
		border-radius: 28px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #ccc;
	}

	&::-webkit-scrollbar-thumb:active {
		background: #ccc;
	}

	&::-webkit-scrollbar-track {
		background: #eeeeee80;
		border: 0px;
	}

	&::-webkit-scrollbar-track:hover {
		background: #eeeeee80;
	}

	&::-webkit-scrollbar-track:active {
		background: #eeeeee80;
	}

	&::-webkit-scrollbar-corner {
		background: #eeeeee80;
	}
}

body {
	font-family: Arial !important;
}

main.q-page {
	padding: 16px;
}

@media (max-width: $breakpoint-xs-max) {
	main.q-page {
		padding: 0px;

		.components-view {
			box-shadow: none;
			border: 0px;
			border-radius: 0px;
		}

		.components-form {
			.q-card {
				box-shadow: none;
				border: 0px;
				border-radius: 0px;
			}
		}
	}
}

hr {
	border: 0;
	border-bottom: 1px solid #e5ebec;
}

.q-field--readonly {
	.q-field__inner {
		.q-field__control {
			background: #f1f1f1;
		}
	}
}

.q-field--outlined.q-field--readonly {
	.q-field__control:before {
		border-style: solid;
	}
}
